.floating-input {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    width: 100%;
    padding: 8px 15px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    transition: 300ms ease;
  }

}

.floating-input input:focus {
  outline: none;
  border-color: var(--color-primary-variant);
   box-shadow: 0 1px 0 0 var(--color-primary-variant);

}

.floating-input label {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 300ms ease;
  padding: 0 7px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 10px;
}

.required{
  color: var(--color-error);
  font-weight: 500;
  font-size: small;
  padding: 0 2px;

}



.input-error{
    color: var(--color-error);
    font-weight: 500;
    font-size: small;
    padding: 0 5px;
}

