<div class="auth-container">
    <div class="auth-content row">
       
        <div class="form-content">
            <div class="h3">Nexus Bit API Portal</div>
            <div class="sub-title">Register here</div>
            
            <form class="mx-4 p-3 h-100" (submit)="onSubmit($event)">
               
               <div class="d-flex flex-column gap-2 mt-2 mx-4">
                    <app-floating-input id="email" placeholder="Email" type="email" label="Email" [(floatingInput)] = "formData.email" [isRequired]= "true" class="w-100"></app-floating-input>
                    <app-floating-input id="password" placeholder="password" type="password" label="Password" [(floatingInput)] = "formData.password" autofill="password" [isRequired]= "true" class="w-100"></app-floating-input>
                  
                    <button class="nba-btn-primary mt-2 w-100" type="submit" >Sign In</button>
                   
                    <div class="d-flex flex-row align-items-center justify-content-start gap-2">
                        <small class="">Already have an account?</small>
                        <small class="switch-sign-method" (click)="handleLoginClick()">Sign Up</small>
                    </div>
               </div>
    
            </form>        
        </div>
        
    </div>
</div>
