
<div class="project-container">
    <div class="row">
        <div class="col-3">
            <div class="category-card">
                <div class="category-card-header d-flex flex-row align-items-center justify-content-between fs-5 ">
                    <div class="card-title">Project Categories</div>
                    <div class="btn btn-primary category-edit-btn">Edit</div>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between p-2 pt-3 ">
                    <div class="category-name">Category</div>
                    <div class="category-count">Assigned Projects</div>
                </div>

                <div class="category-card-body">

                    <div class="category-item">
                        <div class="category-name">All</div>
                        <div class="category-count"> 10</div>
                    </div>

                    <div class="category-item">
                        <div class="category-name">Web Development</div>
                        <div class="category-count"> 5</div>
                    </div>

                    <div class="category-item">
                        <div class="category-name">Mobile Development</div>
                        <div class="category-count"> 3</div>
                    </div>

                    <div class="category-item">
                        <div class="category-name">Others</div>
                        <div class="category-count"> 2</div>
                    </div>



                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="top-rated-project-card">
                <div class="top-rated-project-card-header d-flex flex-row align-items-center justify-content-between fs-5 ">
                    <div class="card-title">Top Rated Projects</div>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between p-2 pt-3">
                    <div class="project-name">Project Name</div>
                    <div class="project-rating">Rating</div>
                </div>

                <div class="top-rated-project-card-body">

                    <div class="project-item">
                        <div class="project-name">Project 1</div>
                        <div class="project-rating"> 4.5</div>
                    </div>

                    <div class="project-item">
                        <div class="project-name">Project 2</div>
                        <div class="project-rating"> 4.0</div>
                    </div>

                    <div class="project-item">
                        <div class="project-name">Project 3</div>
                        <div class="project-rating"> 3.5</div>
                    </div>


            </div>
        </div>
    </div>

      <div class="col-6">
        <div class="project-comment-card">
          <div class="project-list-card-header d-flex flex-row align-items-center justify-content-between fs-5 ">
            <div class="card-title ">Latest Comments</div>
          </div>

            <div class="d-flex flex-row align-items-center justify-content-between p-2 pt-3 ">
                <div class="comment-project-name">Project Name</div>
                <div class="comment-user">User</div>
                <div class="comment-rating">Rating</div>
                <div class="comment-date">Date</div>
            </div>

            <div class="project-comment-card-body">
                <div class="comment-item">
                    <div class="comment-project-name">Project 1</div>
                    <div class="comment-user">User 1</div>
                    <div class="comment-rating"> 4.5</div>
                    <div class="comment-date"> 12/12/2021</div>
                </div>

                <div class="comment-item">
                    <div class="comment-project-name">Project 2</div>
                    <div class="comment-user">User 2</div>
                    <div class="comment-rating"> 4.0</div>
                    <div class="comment-date"> 12/12/2021</div>
                </div>

                <div class="comment-item">
                    <div class="comment-project-name">Project 3</div>
                    <div class="comment-user">User 3</div>
                    <div class="comment-rating"> 3.5</div>
                    <div class="comment-date"> 12/12/2021</div>
                </div>

                <div class="comment-item">
                    <div class="comment-project-name">Project 4</div>
                    <div class="comment-user">User 4</div>
                    <div class="comment-rating"> 3.0</div>
                    <div class="comment-date"> 12/12/2021</div>
                </div>

                <div class="comment-item">
                    <div class="comment-project-name">Project 5</div>
                    <div class="comment-user">User 5</div>
                    <div class="comment-rating"> 3.0</div>
                    <div class="comment-date"> 12/12/2021</div>
                </div>

            </div>

        </div>
      </div>
    </div>

  <div class="row mt-4 pt-4">
    <div class="col-12">
      <div class="project-list-card">
        <div class="project-list-card-header d-flex flex-row align-items-center justify-content-between fs-5 ">
          <div class="card-title ">Projects</div>
          <div class="btn btn-primary project-create-btn">Create Project</div>
        </div>

        <div class="d-flex flex-row align-items-start justify-content-between p-2 pt-3 ">
            <div class="project-name">Project Name</div>
            <div class="project-description">Description</div>
            <div class="project-category">Category</div>
            <div class="project-rating">Rating</div>
            <div class="project-status">Status</div>
            <div class="project-action"></div>
            <div class="project-action"></div>
        </div>

        <div class="project-list-card-body">
          <div class="project-item">
            <div class="project-name">Project 1</div>
            <div class="project-description">Project Description</div>
            <div class="project-category">Category</div>
            <div class="project-rating">Rating</div>
            <div class="project-status">Status</div>
            <div class="project-action d-flex flex-row align-items-center justify-content-center gap-4">
              <div class="btn btn-primary project-edit-btn">Edit</div>
              <div class="btn btn-danger project-delete-btn">Delete</div>
            </div>
          </div>

          <div class="project-item">
            <div class="project-name">Project 2</div>
            <div class="project-description">Project Description</div>
            <div class="project-category">Category</div>
            <div class="project-rating">Rating</div>
            <div class="project-status">Status</div>
            <div class="project-action d-flex flex-row align-items-center justify-content-center gap-4">
                <div class="btn btn-primary project-edit-btn">Edit</div>
              <div class="btn btn-danger project-delete-btn">Delete</div>
            </div>
          </div>

          <div class="project-item">
            <div class="project-name">Project 3</div>
            <div class="project-description">Project Description</div>
            <div class="project-category">Category</div>
            <div class="project-rating">Rating</div>
            <div class="project-status">Status</div>
            <div class="project-action d-flex flex-row align-items-center justify-content-center gap-4">
                <div class="btn btn-primary project-edit-btn">Edit</div>
              <div class="btn btn-danger project-delete-btn">Delete</div>
            </div>
          </div>

          <div class="project-item">
            <div class="project-name">Project 4</div>
            <div class="project-description">Project Description</div>
            <div class="project-category">Category</div>
            <div class="project-rating">Rating</div>
            <div class="project-status">Status</div>
            <div class="project-action d-flex flex-row align-items-center justify-content-center gap-4">
                <div class="btn btn-primary project-edit-btn">Edit</div>
              <div class="btn btn-danger project-delete-btn">Delete</div>
            </div>
          </div>

         
      </div>
    </div>
  </div>
</div>

</div>
