.category-card,
.top-rated-project-card,
.project-comment-card,
.project-list-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fafafa;
    padding: 0 1rem;

    .category-card-header,
    .top-rated-project-card-header{
        padding: 0.5rem ;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid #e1e1e1;

        .category-edit-btn{
            font-size: 0.8rem;

        }
    }

    .category-card-body,
    .top-rated-project-card-body,
    .project-comment-card-body,
    .project-list-card-body{
        padding-bottom: 1rem;

        .category-item,
        .project-item,
        .comment-item{
            padding: 0.6rem 1rem;
            background-color: inherit;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: default;
            transition: all 0.1s;
            font-size: 0.8rem;
            border-radius: 10px;
            text-align: start;

            &:last-child{
                border-bottom: none;;
            }

            &:nth-child(even){
                background-color: #f7f7f7;
            }

            &:hover{
                background-color: #e6dfdf;
            }

            .category-item-title{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .category-item-count{
                font-size: 1.2rem;
                font-weight: 500;
            }

          .project-action-item{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1.2rem;
            font-weight: 500;
            color: #3f3f3f;
            cursor: pointer;

            &:hover{
                color: #093e75;


            }
          }
        }
    }
}
