@import url('../../../../styles/dashboard-fragment.styles.scss');

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .banner-img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-radius: 10px;
  }

  .project-url-card {
    margin-left: 30rem;

  }

  .project-url{
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 0 0 rgba(120,49,196,.15);  
    border-radius: 10px 10px 0 0;

    a{
        text-decoration: none;
        color: #000;
        
    }
    .delete-btn{
        color: #000;
        cursor: pointer;
    }

    .delete-btn:hover{
        color: var(--color-error);
    }
}

.project-url:hover{

    background-color: rgba(0, 0, 255, 0.03); 
    box-shadow: 0 1px 0 0 rgba(120,49,196,.5);  
    transition: all 100ms ease-in-out;


}

  .animate-colors{
    animation: chromeAnimation 6s linear infinite;
}

  
  @keyframes chromeAnimation {
    from {
        color: var(--color-primary);
        transform: rotate(0deg); 
    }
    to {
        color: var(--color-secondary);
        transform: rotate(360deg); 
    }
  }

  .file-upload-container{
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    height: 10rem;
    width: 95%;
    

  }

  .file-upload-container label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -8rem;
  }

  .upload-btn{
    cursor: pointer;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    z-index: 999;
  }

  .upload-btn:hover{
    background-color: var(--color-primary);
    color: #fff;
  }

  .upload-option-seperator{
    margin-top: 1rem;
    color: var(--color-text-gray);
    font-size: 0.8rem;
  }

  .drag-and-drop-title{
    color: var(--color-text-gray);
    font-size: 0.9rem;}

  .file-drag-and-drop{
    display: block;
    border-radius: 10px;
    height: 100%;
    background-color: red;
    opacity: 0;
    
  }
  .image-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 1rem;
    background-color: #eee;
    border-radius: 10px;
    padding: 0.5rem;

    .image-item{
      height: 100%;
      max-width: 15rem;
      border-radius: 10px;
    }

    .img-close-btn{
      position: absolute;
      cursor: pointer;
      color: #fff;
      border-radius: 50%;
      margin-left: -1.3rem;
      margin-top: 0.1rem;
      font-size: 20px;
      font-weight: 900;
    }


  }