
.project-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    padding-bottom: 3rem;

    .project-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .project-header-title{
            font-size: 2rem;
            font-weight: 600;

            .project-header-subtitle{
                font-size: 0.8rem;
                font-weight: 400;
                margin-top: 2rem;
                background-color: var(--color-success);
                color: #fff;
                padding: 0.3rem 0.5rem;
                border-radius: 10px;
            }
        }

        .project-header-image{
            border-radius: 10px;
            margin-top: 0.8rem;
        }

        .project-description{
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            width: 70%;
        }

        .ref-url-list{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            .ref-url-container{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding: 0.5rem 1rem;
                background-color:#b54cba ;
                border-radius: 50px;
                color:#fff;
                cursor: pointer;

                .ref-icon{
                    width: 1.5rem;
                    border-radius: 50%;
                }
            }

            .ref-url-container:hover{
                background-color: #a63b9c;
                transition:all .2s ease-in-out;
            }
            
        }
    }

    .project-body{
        
        width: 80%;
        .project-media-list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: #e0ddf8;
            padding: 0.5rem 1rem;
            width: 100%;
            border-radius: 10px;
            margin-top: 1rem;

            .project-media-container{

                .project-media{
                    height: 8rem;
                    border-radius: 10px;
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}