<div class="row">
    <div class="col-md-12">
      <div class="qualification-card">
        <div class="qualification-card-header">
            <h4>Experience</h4>
            <i class="bi bi-chevron-down qualification-menu-btn"></i>
        </div>

        <div class="qualification-card-body">
            <div class="qualification-card-body-header">
                <button class="btn btn-primary">New Experience</button>

                <div class="d-flex flex-row align-items-center justify-content-between pt-4 px-2">
                    <span>Company</span>
                    <span>Position</span>
                    <span>Start Date</span>
                    <span>End Date</span>
                    <span>Visibility</span>
                </div>
            </div>

            <div class="qualification-card-body-content">

                <div class="qualification-card-body-content-item">
                    <div class="d-flex flex-row align-items-center justify-content-between pt-4 px-3">
                        <span>ABC pvt</span>
                        <span>Software Engineer</span>
                        <span>Start Date</span>
                        <span>End Date</span>
                        <span>Visibility</span>
                    </div>
                </div>
      </div>
    </div>
</div>