<div class="h-100 nbit-dashboard-container">
    <div class="nbit-navbar">
        <div class="branding">
            <img src="../../../../favicon.ico" width="50" alt="">
            <span class="fs-5">Nexus Bit API Portal</span>
        </div>

        <div class="nbit-navbar-options">
            <i class="bi bi-bell-fill"></i>
            <i class="bi bi-sliders"></i>
            <img src="../../../../assets/images/avatar.png" width="35" alt="">
        </div>
    </div>

    <div class="nbit-dashboard-body">
        <div class="nbit-sidebar-container">
            <div *ngFor="let menu of menuItems">
                <div *ngIf="menu.parent !== 'sihdebar'" class="sidebar-item{{ activeSidebarItem(menu) }}" [id]="menu.id" (click)="onNavigate(menu.url)">
                    <i class="{{ menu.icon }}"></i>
                    <div class="sidebar-item-title">{{ menu.title }}</div>
                </div>

            </div>
        </div>
        <div class="nbit-dashboard-content">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>