<div class="fragment">
    <div class="fragment-header">
        <div class="fragment-title">Projects</div>
        <div class="nba-btn-primary" (click)="createProject()">New Project</div>
    </div>
   
        <app-empty-data-widget *ngIf="projects.length===0" [action]="createProject"  actionText="Add new Project"></app-empty-data-widget>

        <div class="project-list-container p-4" *ngIf="projects.length>0">
            <div class="project-container" *ngFor="let project of projects">
                <div class="project-card-header">

                    <div class="project-preview-panel">
                        <img [src]="project.banner.url" class="project-banner">

                        <div class="text-preview">
                            <div class="project-card-title">{{ project.name.length>bannerLength? project.name.substring(0,bannerLength)+"...": project.name }}</div>
                        
                        </div>
                    </div>

                    <div class="project-heder-body">
                        <div class="published-project-label" *ngIf="!project.private==true">Published</div>
                        <div class="private-project-label" *ngIf="project.private==true">Private</div>

                    <div class="project-description multiline-text">{{ project.description.length>projectHeaderDescriptionLength? project.description.substring(0, projectHeaderDescriptionLength)+"..." : project.description }}</div>
<div>rgd                     {{project.private}}
</div>                    </div>

                    <div class="project-actions-and-status">

                        <div class="nba-btn-primary" (click)="viewProject(project.id)">View</div>
                        <div class="nba-btn-secondary" (click)="editProject(project.id)">Edit</div>
                    </div>
                    
                    
                </div>
                <!-- <div class="project-card-body">
                    <div class="project-card-description">{{project.description}}</div>
                    <div class="project-card-footer">
                        <div class="project-card-footer-item">
                            <div class="project-card-footer-item-title">Start Date</div>
                            <div class="project-card-footer-item-value">{{project.startDate}}</div>
                        </div>
                        <div class="project-card-footer-item">
                            <div class="project-card-footer-item-title">End Date</div>
                            <div class="project-card-footer-item-value">{{project.endDate}}</div>
                        </div>
                    </div>
                </div> -->
            </div>

</div>