
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-office-primary: mat.define-palette(mat.$indigo-palette);
$front-office-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-office-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-office-theme: mat.define-light-theme((
  color: (
    primary: $front-office-primary,
    accent: $front-office-accent,
    warn: $front-office-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-office-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@ngneat/hot-toast/src/styles/styles.scss';

body {
    margin: 0;
    
  }
  
  :root {
    --color-primary:#3629b7;
    --color-primary-variant:#195bfe;
  
    --color-secondary:#e05bf4 ;
    --color-secondary-variant:#b84bc9 ;
  
    --text-primary: #000;
    --text-primary-variant: #c1c7d0;
    --color-text-gray:#4b4a4ab6;
    --text-secondary: #fff;
  
    --color-bg-primary:#fff;
    --color-bg-primary-variant:#7380ec;
    --color-bg-gradient: linear-gradient(90deg,#005bff,#be0dd9 98.96%);
  
    --color-error: #bf2600;
    --color-warning: #ff8b00;
    --color-success: #00875a;
  
   
  
      
  
  }
  
  .nba-btn-primary {
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(120,49,196,.75);
    background-image: linear-gradient(72.71deg,#b84bc9 3.31%,#0d3491 57.44%,#00a8b4 108.12%);
    background-size: 300% 100%;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    outline: none;
    padding: 7px 30px;
    transition: all .2s ease-in;
    transition: all .4s ease-in-out;
  }
  
  .nba-btn-primary:hover{
    color: var(--color-bg-primary);
    background-image: linear-gradient(72.71deg,#0d3491 3.31%,#b84bc9 57.44%,#00a8b4 108.12%);
  }
  
  .nba-btn-primary:active{
    background-image: linear-gradient(72.71deg,#0d3491 3.31%,#b84bc9);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
  }
  
  .nba-btn-secondary{
    @extend .nba-btn-primary;
    box-shadow: 0 4px 15px 0 rgba(120,49,196,.75);
    background-image:linear-gradient(71.72deg,#0d3491 3.31%,#00a8b4 57.44%,#b84bc9 108.12%);
  }
  
  .nba-btn-secondary:hover{
    @extend .nba-btn-primary;
    background-image: linear-gradient(71.72deg,#00a8b4 3.31%,#0d3491 57.44%,#b84bc9 108.12%);
  
  }
  
  .nba-btn-secondary:active{
    background-image: linear-gradient(72.71deg,#172B4D 3.31%,#0d3491);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
  }
  
  .nba-btn-success{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: var(--color-success);
    box-shadow: 0 4px 8px 0 rgba(0, 102, 68, 0.7);
  
  }
  
  .nba-btn-success:hover{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: #1aa66b;
    box-shadow: 0 4px 8px 0 rgba(0, 102, 68, 0.7);
  
  }
  
  .nba-btn-success:active{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: rgba(0, 102, 68, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 102, 68, 0.7);
  
  }
  
  
  
  .nba-btn-error{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: var(--color-error);
    box-shadow: 0 4px 8px 0 rgba(191, 38, 0, 0.7);
  
  }
  
  .nba-btn-error:hover{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: #DE350B;
    box-shadow: 0 4px 8px 0 rgba(191, 38, 0, 0.7);
  
  }
  
  .nba-btn-error:active{
    @extend .nba-btn-primary;
    background-image: none;
    background-color: #811c02;
    box-shadow: 0 4px 8px 0 rgba(191, 38, 0, 0.7);
  
  }
  
  .border-title{
   -webkit-text-stroke:2px var(--color-primary);
   font-size: 2.5rem;
   font-weight: 800;
   color: var(--text-secondary);
  
  }
  
  .header-title{
    font-size: 3rem;
    color: var(--text-primary);
    font-weight: 700;

  }
  
  .sub-title{
    font-size: 0.8rem;
    color: var(--color-text-gray);
    margin-top: -0.2rem;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
