
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-office-primary: mat.define-palette(mat.$indigo-palette);
$front-office-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-office-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-office-theme: mat.define-light-theme((
  color: (
    primary: $front-office-primary,
    accent: $front-office-accent,
    warn: $front-office-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-office-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@ngneat/hot-toast/src/styles/styles.scss';

body {
    margin: 0;
    
  }
  
  :root{
    --color-primary: #77a6f7;
    --color-secondary: #00887A;

    --color-primary-variant: #D3E3FC;
    --color-secondary-variant: #FFCCBC;

    --text-primary: #000000;
    --text-secondary: #FFFFFF;
    --color-text-gray: #6C757D;
    
    --bg-primary: #FFFFFF;
  }
  
  .border-title{
   -webkit-text-stroke:2px var(--color-primary);
   font-size: 2.5rem;
   font-weight: 800;
   color: var(--text-secondary);
  
  }
  
  .header-title{
    font-size: 3rem;
    color: var(--text-primary);
    font-weight: 700;

  }
  
  .sub-title{
    font-size: 0.8rem;
    color: var(--color-text-gray);
    margin-top: -0.2rem;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
