<div class="auth-container">
    <div class="auth-content row">
       
        <div class="form-content">
            <div class="h3">Nexus Bit API Portal</div>
            <div class="sub-title">Register here</div>
            
            <form class="mx-4 p-3 h-100" [formGroup]="signUpForm" (submit)="onSubmit($event)">
                <div class="row">
                    <div class="form-group col-6 d-flex flex-column align-items-start justify-content-center gap-1 mt-4">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" formControlName="fname" id="fname" placeholder="First Name">
                      </div>
    
                      <div class="form-group col-6 d-flex flex-column align-items-start justify-content-center gap-1 mt-4">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" formControlName="lname" id="lname" placeholder="Last Name">
                      </div>
                  </div>
    
               <div class="">

                <div class="form-group  d-flex flex-column align-items-start justify-content-center gap-1 mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email Address">
                  </div>

                    <div class="row">
                        <div class="form-group col-6 d-flex flex-column align-items-start justify-content-center gap-1 mt-4">
                            <label for="psw">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="psw" placeholder="Password">
                          </div>
        
                          <div class="form-group col-6 d-flex flex-column align-items-start justify-content-center gap-1 mt-4">
                            <label for="c_psw">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" id="c_psw" placeholder="Confirm Password">
                          </div>
                      </div>
        
                    <button class="nba-btn-primary mt-4 w-100" type="submit" >Sign Up</button>
                    <div class="d-flex flex-row align-items-center justify-content-start gap-2 mt-2">
                        <small class="">Already have an account?</small>
                        <small class="switch-sign-method" (click)="handleLoginClick()">Login</small>
                    </div>
               </div>
    
            </form>        
        </div>
        
    </div>
</div>
